body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-image: url("components/resources/image2.jpg");
  height: 100vh;
}
p {
  margin: unset;
}

.main-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.main-sub-container {
  background-color: #2c3539;
  padding: 20px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  background-image: url("components/resources/image1.jpg");
}

.white-color {
  color: white;
  text-align: center;
}

.weather-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.weather-type {
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 600;
}

.weather-temprature {
  margin-top: 20px;
  font-size: 2.5rem;
  font-weight: 600;
}

.label-container {
  display: flex;
  justify-content: space-between;
}

.card {
  transition: 0.3s;
  padding: 20px;
  border-radius: 17px;
}

.center-section {
  text-align: center;
}

.react-select-container {
  display: flex;
  justify-content: center;
}

/**Wind**/
.highcharts-figure,
.highcharts-data-table table {
  width: 205px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
/**End*/

.humidity-container div {
  border-radius: 20px;
}

.highcharts-figure .chart-container {
  height: 160px;
}

.highcharts-axis-title {
  font-size: 1.2rem !important;
  font-weight: bold;
  fill: unset !important;
}
.highcharts-figure.highcharts-figure-feels-like .chart-container {
  height: 180px !important;
}
input:focus {
  width: 50%;
}
